@model LabAssist_V_3._0.Models.Invoice

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="col-md-10">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">New Invoice</h3>
        </div>
        <form asp-action="Create" role="form">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Item ID</th>
                                <th>Item Name</th>
                                <th>Item Price</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                List<LabAssist_V_3._0.Models.ViewModels.SelectedItemData> items = ViewBag.Items;
                                @foreach (var item in items)
                                {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ItemID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ItemName)
                                        </td>
                                        <td class="sum price">
                                            @Html.DisplayFor(modelItem => item.ItemPrice)
                                        </td>
                                        <td>
                                            <input type="checkbox"
                                                   name="selectedItems"
                                                   class="checkedItem"
                                                   value="@item.ItemID"
                                                   @(Html.Raw(item.Assigned ? "checked=\"checked\"" : "")) />
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    </div>
                    <div class="form-group">
                        <label asp-for="JobID" class="control-label"></label>
                        <select asp-for="JobID" class="form-control" asp-items="ViewBag.JobID" readonly="@(true)"></select>
                        <span asp-validation-for="JobID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserID" class="control-label"></label>
                        <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID" >
                            <option selected="selected" value="">Please select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="InvoiceData" class="control-label"></label>
                        <input asp-for="InvoiceData" class="form-control" />
                        <span asp-validation-for="InvoiceData" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="InvoiceState" class="control-label"></label>
                        <select asp-for="InvoiceState" asp-items="Html.GetEnumSelectList<LabAssist_V_3._0.Models.Enums.InvoiceState>()" class="form-control">
                            <option selected="selected" value="">Please select</option>
                        </select>
                        <span asp-validation-for="InvoiceState" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="InvoiceTotal" class="control-label"></label>
                        <input asp-for="InvoiceTotal" id="total" class="form-control" readonly="@(true)"/>
                        <span asp-validation-for="InvoiceTotal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
            </div>
        </form>
    </div>
</div>




