@*@model IEnumerable<LabAssist_V_3._0.Models.Invoice>*@
@model LabAssist_V_3._0.Models.ViewModels.InvoiceIndexData

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Right column -->
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">All Invoices</h3>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.InvoiceData)*@
                                        Date
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.InvoiceState)*@
                                        State
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.InvoiceTotal)*@
                                        Invoice Total
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.User)*@
                                        Preapared By
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.Job)*@
                                        Job
                                    </th>
                                    <th>Items</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Invoice)
                                {
                                    string selectedRow = "";
                                    if (item.InvocieID == (int?)ViewData["InvoiceID"])
                                    {
                                        selectedRow = "success";
                                    }
                                    <tr class="@selectedRow">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InvoiceData)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InvoiceState)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InvoiceTotal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Job.JobID)
                                        </td>
                                        <td>
                                            @{ foreach (var orderItem in item.InvoiceItem)
                                                {
                                                    @*@orderItem.Item.ItemID @:*@  @orderItem.Item.ItemName <br />
                                                } }
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Create","payments",new {id =item.InvocieID})" class="btn-xs btn-success text-white">Pay</a>
                                            <a asp-action="Edit" asp-route-id="@item.InvocieID" class="btn-xs btn-dark text-white">Edit</a> |
                                            <a asp-action="Delete" asp-route-id="@item.InvocieID" class="btn-xs btn-danger text-white">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>