@model IEnumerable<LabAssist_V_3._0.Models.Invoice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.JobID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvocieID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvocieID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvocieID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
