@model IEnumerable<LabAssist_V_3._0.Models.Invoice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Right column -->
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">All Items</h3>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.InvoiceData)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.InvoiceState)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.InvoiceTotal)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.User)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Job)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InvoiceData)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InvoiceState)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InvoiceTotal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Job.JobID)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.InvocieID">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.InvocieID">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.InvocieID">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>