@model IEnumerable<LabAssist_V_3._0.Data.Payment>

<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PreparedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PreparedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentType)
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Payments",new {id =item.PaymentID },Context.Request.Scheme)','Edit Payment')" class="btn-xs btn-success text-white">Edit</a> |
                    <form asp-action="Delete" asp-route-id="@item.PaymentID" onsubmit="return jQueryAjaxDelete(this);">
                        <input type="submit" value="Delete" class="btn-xs btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
