@model IEnumerable<LabAssist_V_3._0.Data.InvoiceItem>

    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UOM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Laboratory)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UOM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Laboratory.LaboratoryName)
                    </td>
                    <td>
                        <a onclick="showInPopup('@Url.Action("AddOrEdit","invoiceitems",new {id =item.InvoiceItemID },Context.Request.Scheme)','Edit Invoice Item')" class="btn-xs btn-success text-white">Edit</a> |
                        <form asp-action="Delete" asp-route-id="@item.InvoiceItemID" onsubmit="return jQueryAjaxDelete(this);">
                            <input type="submit" value="Delete" class="btn-xs btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>