@model IEnumerable<LabAssist_V_3._0.Models.Doctor>

<table id="example1"  class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","doctors",new {id =item.DoctorID },Context.Request.Scheme)','Edit Doctor')" class="btn-xs btn-success text-white">Edit</a> |
                    <form asp-action="Delete" asp-route-id="@item.DoctorID" onsubmit="return jQueryAjaxDelete(this);">
                        <input type="submit" value="Delete" class="btn-xs btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>